<div class="container">
    <h1>
        {{"Project Management System"| uppercase}} 
    </h1>
    <nav class="navbar navbar-expand-sm  navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/details" routerLinkActive="active">AddProject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/available" routerLinkActive="active">AvailableProject</a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>