<div class="container">
    <hr>
    <h1>Project Details</h1>
    <hr>
    <form #register="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Project Name:</label>
                <input type="text" formControlName="name" class="form-control">
                <div *ngIf="f.name.errors && (f.name.dirty || f.name.touched)" class="feedback">
                    <div *ngIf="f.name.errors.required">ProjectName is required</div>
                    <div *ngIf="f.name.errors.maxlength">ProjectName length must be at maximum 50 characters only</div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label>Project Code:</label>
                <input type="text" formControlName="code" class="form-control">
                <div *ngIf="f.code.errors && (f.code.dirty || f.code.touched)" class="feedback">
                    <div *ngIf="f.code.errors.required">ProjectCode is required ,Example:'AB001'</div>
                    <div *ngIf="f.code.errors.minlength">ProjectCode length must be in 5 characters only</div>
                    <div *ngIf="f.code.errors.maxlength">ProjectCode length must be in 5 characters only</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Project Manager:</label>
                <input type="text" formControlName="manager" class="form-control">
                <div *ngIf="f.manager.errors && (f.manager.dirty || f.manager.touched)" class="feedback">
                    <div *ngIf="f.manager.errors.required">ProjectManager name is required</div>
                    <div *ngIf="f.manager.errors.maxlength">ProjectManager name must be at maximum 40 characters only</div>
                </div>
            </div>


            <div class="form-group col-sm-6">
                <label>Project Desc:</label>
                <textarea rows="4" formControlName="description" class="form-control"></textarea>
                <div *ngIf="f.description.errors && (f.description.dirty || f.description.touched)" class="feedback">
                    <div *ngIf="f.description.errors.maxlength">Description must be at maximum 1000 characters only</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Project StartDate:</label>
                <input type="date" formControlName="startDate" class="form-control">
                <div *ngIf="f.startDate.errors && (f.startDate.dirty || f.startDate.touched)" class="feedback">
                    <div *ngIf="f.startDate.errors.required">ProjectStartDate is required</div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label>Project EndDate:</label>
                <input type="date" formControlName="endDate" class="form-control">
                <div *ngIf="f.endDate.errors && (f.endDate.dirty || f.endDate.touched)" class="feedback">
                    <div *ngIf="f.endDate.errors.required">ProjectEndDate is required</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Project Budget:</label>
                <input type="number" formControlName="budget" class="form-control">
                <div *ngIf="f.budget.errors && (f.budget.dirty || f.budget.touched)" class=" feedback">
                    <div *ngIf="f.budget.errors.required">ProjectBudget is required</div>
                    <div *ngIf="f.budget.errors.pattern">ProjectBudget length must be one or two only</div>
                </div>
            </div>
        </div>

        <div formArrayName="members">
            <label>TeamMembers:</label>
            <div *ngFor="let member of teamDetails.controls;let i=index;" [formGroupName]="i" class="row">
                <div class="col-sm-4 ">
                    <label for="teamId">{{"Member"+(i+1)+":"}}</label>
                    <div class="input-group mb-3">
                        <input id="teamId" type="text" formControlName="teamMember" class="form-control">
                        <div class="input-group-append">
                            <button type="button" title="AddMember" class="btn" (click)="addMembers()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <button type="button" title="RemoveMember" class="btn" (click)="removeMembers(i)" [(disabled)]="checkMembers"><i class="fa fa-remove" aria-hidden="true"></i></button>
                        </div>
                        <div *ngIf="member.controls.teamMember.errors && (member.controls.teamMember.dirty || member.controls.teamMember.touched)"
                            class="feedback">
                            <div *ngIf="member.controls.teamMember.errors.required">{{"Member"+(i+1)}} name is required</div>
                            <div *ngIf="member.controls.teamMember.errors.maxlength">{{"Member"+(i+1)}} name must be at
                                maximum
                                40
                                characters only</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row center">
            <div class="form-group col-sm-6 pull-right">
                <button type="submit" [disabled]="registerForm.invalid">Submit</button>

            </div>
            <div class="form-group col-sm-6 pull-left">
                <button type="reset">Reset</button>
            </div>
        </div>
    </form>
</div>