<div class="container">
  <img src="./assets/project.jpg" class="img-thumbnail" alt="Cinque Terre">
  <p>
    Welcome to Project management system,this is a web application for register the project details and
    maintain the project information.
    In this application is mainly used to store each and every data of the specified project.For example
    you can store general project details,Project startDate and end date,budget of the proect and total number
    members in the team.These things editable based upon applicant choice
  </p>
</div>